---

import { SITE } from '~/config'

const currentYear = new Date().getFullYear()
const copyrightText = `© ${currentYear} ${SITE.author}`
---

<footer class="slide-enter animate-delay-1600! px-7 mt-auto mb-8">
  <div class="prose mx-auto op-50 text-center">
    <div class="text-sm whitespace-nowrap">
      <span>{copyrightText}</span>
    </div>
  </div>
</footer>
