---
interface Props {
  title?: string
  subtitle?: string
  isCentered?: boolean
  isSearchable?: boolean
  searchFilter?: string
  class?: string
}

const {
  title,
  subtitle,
  isCentered = false,
  isSearchable,
  searchFilter,
  class: className,
} = Astro.props
---

<header
  class:list={{
    'prose mx-auto mb-8': true,
    'text-center': isCentered,
  }}
>
  {title && <h1>{title}</h1>}
  {subtitle && <p class="mt--4! op-50 italic">{subtitle}</p>}
  <slot name="head" />
</header>
{
  Astro.slots.has('article') && (
    <article
      class="slide-enter-content prose mx-auto"
      data-pagefind-body={isSearchable ? '' : undefined}
      data-pagefind-filter={
        isSearchable && searchFilter ? searchFilter : undefined
      }
    >
      <slot name="article" />
    </article>
  )
}
{
  Astro.slots.has('default') && (
    <div class:list={['mx-auto', className]}>
      <slot />
    </div>
  )
}
<script>
  function hideDuplicateTitles() {
    const pageTitle = document.querySelector('header h1')?.textContent?.trim()
    const articleH1s = document.querySelectorAll('article.prose h1')
    if (pageTitle) {
      for (const h1 of articleH1s) {
        // Rehype plugin appends a '#' for the anchor link, so we clean it up before comparing
        const cleanH1Text = h1.textContent?.replace(/#$/, '').trim()
        if (cleanH1Text === pageTitle) {
          ;(h1 as HTMLElement).style.display = 'none'
          break
        }
      }
    }
  }

  hideDuplicateTitles()
  document.addEventListener('astro:page-load', hideDuplicateTitles)
</script>
